<form action="authenticate" method="post">
    <p>
        <label for="username">Логин:</label>
        <input id="username" type="text" name="username" required>
    </p>

    <p>
        <label for="password">Пароль:</label>
        <input id="password" type="password" name="password" required>
    </p>

    <button type="submit">Войти</button>
</form>